:root {
  --primary: #0B5740;
  --menu_button_size : 30px;
}

@font-face {
  font-family: 'AvenirNextLTProBold';
  src: url('assets/fonts/AvenirNextLTProBold/AvenirNextLTProBold.woff2') format('woff2'),
       url('assets/fonts/AvenirNextLTProBold/AvenirNextLTProBold.woff') format('woff'),
       url('assets/fonts/AvenirNextLTProBold/AvenirNextLTProBold.ttf')  format('truetype');
}
@font-face {
  font-family: 'AvenirNextLTProLight';
  src: url('assets/fonts/AvenirNextLTProLight/AvenirNextLTProLight.woff2') format('woff2'),
       url('assets/fonts/AvenirNextLTProLight/AvenirNextLTProLight.woff') format('woff'),
       url('assets/fonts/AvenirNextLTProLight/AvenirNextLTProLight.ttf')  format('truetype');
}
@font-face {
  font-family: 'AvenirNextLTProMedium';
  src: url('assets/fonts/AvenirNextLTProMedium/AvenirNextLTProMedium.woff2') format('woff2'),
       url('assets/fonts/AvenirNextLTProMedium/AvenirNextLTProMedium.woff') format('woff'),
       url('assets/fonts/AvenirNextLTProMedium/AvenirNextLTProMedium.ttf')  format('truetype');
}
@font-face {
  font-family: 'AvenirNextLTProRegular';
  src: url('assets/fonts/AvenirNextLTProRegular/AvenirNextLTProRegular.woff2') format('woff2'),
       url('assets/fonts/AvenirNextLTProRegular/AvenirNextLTProRegular.woff') format('woff'),
       url('assets/fonts/AvenirNextLTProRegular/AvenirNextLTProRegular.ttf')  format('truetype');
}


/*
font-family: 'AvenirNextLTProBold', sans-serif;
font-family: 'AvenirNextLTProLight', sans-serif;
font-family: 'AvenirNextLTProMedium', sans-serif;
font-family: 'AvenirNextLTProRegular', sans-serif;
*/

.font_regular {
	font-family: 'AvenirNextLTProRegular', sans-serif;
}
.font_light {
	font-family: 'AvenirNextLTProLight', sans-serif;
}
.font_medium {
	font-family: 'AvenirNextLTProMedium', sans-serif;
}
.font_bold {
	font-family: 'AvenirNextLTProBold', sans-serif;
}

* { box-sizing: border-box; position: relative;}
body {
	padding:0px;
	margin:0px;
	background-color: #FAF9F0;
	font-family: 'AvenirNextLTProRegular', sans-serif;
}


section#welcome {
	height: 100vh;
}
section#welcome .row {
	display: flex;
}

section#welcome .row:nth-of-type(1) {
	padding-top: 50px;
	padding-bottom: 250px;
}

section#welcome .row:nth-of-type(1) .col {
	display: flex;
	align-items: center;
}
section#welcome .row .col {
	width: 50%;
}
section#welcome .row .col:nth-of-type(1) {
	padding-left: 50px;
}
section#welcome .row .col:nth-of-type(2) {
	padding-right: 50px;
	justify-content: flex-end;
}

section#welcome .menu_button {
	background:var(--primary);
	width: var(--menu_button_size);
	height: var(--menu_button_size);
	display: flex;
	justify-content: center;
	align-items: center;
}

section#welcome .menu_button svg {
	fill: #fff;
	width: 15px;
	height: 15px;
}

.logo {
	width: var(--menu_button_size);
	height: var(--menu_button_size);
	display: flex;
	flex-wrap: wrap;
	margin-top: -15px;
}
.home_mobile_logo {
	fill:var(--primary);
}

section#welcome .row:nth-of-type(2) .col {
	display: block;
	width: 100%;
}

.text_content_box .col {
	color: var(--primary);
}
.text_content_box .col h1 {
	font-weight: 100;
	font-size: 2em;
}
.text_content_box .col h1 strong {
	font-weight: 600;
}
.text_content_box .col p {
	font-size: 12px;
	padding-right: 50px;
}

section#welcome .row:nth-of-type(3) .col {
	width: 100%;
	justify-content: center;
	display: flex;
	padding:0px;
	height: calc( 100vh - ( 350px + 200px ) );
	align-items: flex-end;
}

.scroll_arrow {
	background:linear-gradient(to bottom, #E3C566, #87622A);
	border-radius: 100%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding:2px;
}
.scroll_arrow .inner {
	background:white;
	border-radius: 100%;
	height: 36px;
	width: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.scroll_arrow .inner svg {
	fill: var(--primary)
}

section#lets_renew {
	background-image: url("assets/regner_firstsection_background_pattern.svg");
	background-repeat: no-repeat;
	background-position: -65px 120px;
	background-size: 87%;
	min-height: 1000px;
	margin-top: 100px;
}

.product_box {
	padding:50px;
}
.product_box .product_image {
	width:100%;
	height:200px;
	background:url("assets/regner_hero_03.jpg");
	background-size: cover;
}
.product_box .product_description {
	background:var(--primary);
	padding:30px;
	color: #fff;
}

.product_box .product_description .heading {
	font-size: 12px;
}

.product_box .product_description form {
	margin-top: 30px;
}
.product_box .product_description form input {
	background:none;
	border:none;
	outline:none;
	color: #fff;
	padding:10px;
	border-bottom: 1px solid #fff;
	margin-bottom: 10px;
	width: 100%;
	padding-left: 0px;
	font-family: 'AvenirNextLTProLight', sans-serif;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255,255,255,.8);
  opacity: 1; /* Firefox */
  font-family: 'AvenirNextLTProLight', sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255,255,255,.8);
  font-family: 'AvenirNextLTProLight', sans-serif;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255,255,255,.8);
  font-family: 'AvenirNextLTProLight', sans-serif;
}

.product_box .product_description form button {
	width: 100%;
	padding:0px;
	color: #fff;
	border:1px solid #fff;
	background:none;
	border-radius: none;
	padding:10px;
	font-size: 12px;
	margin-top: 30px;
}

section#lets_renew .text_content_box {
	margin:50px;
	margin-top: 147px;
}

.lets_renew_boxes { 
	margin:50px;
	color: var(--primary); 
}
.lets_renew_boxes .lets_renew_box {
	display: flex;
	margin-top: 80px;
}
.lets_renew_boxes .lets_renew_box .col {
	width: 50%;
}
.lets_renew_boxes .lets_renew_box .col:nth-of-type(1) {
	width: 120px;
}
.lets_renew_boxes .lets_renew_box .col .heading {
	font-size: 20px;
}
.lets_renew_boxes .lets_renew_box .col p {
	font-size: 12px;

}






section#projects .text_content_box {
	margin:50px;
}

.projects_container {
	width:100%;
	display: flex;
	flex-wrap: wrap;
}
.projects_container .project {
	width: 50%;
	height:120px;
	background-size: cover;
	background-position: center center;
	opacity: .5;
	position: relative;
}

.projects_container .project:hover {
	/*padding:5px 5px 10px 5px;*/
	background-color:var(--primary);
	color: #fff;
	border: 10px solid var(--primary);
	transform: scale(1.1);
	opacity: 1;
	z-index: 999999;
}

.projects_container .project .first_detail {
	display: none;
	background:var(--primary);
	padding:4px;
	color: white;
	font-size: 12px;
}

.projects_container .project .first_detail .icon {
	border: 5px solid #fff;
	width: 5px;
	height: 5px;
	border-top:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:5px solid transparent;
	transform:rotate(315deg);
	margin-right: -7px;
}
.projects_container .project .first_detail .year {
	text-align: right;
}

.projects_container .project:hover .first_detail {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom:-1px;
	width: 101%;
}

section#quote	{
	font-size: 24px;
	margin:50px;
	color: var(--primary);
	padding:60px 0;
}

section#quote	strong {
	font-weight: 900;
}


section#footer {
	background: var(--primary);
	padding:50px;
	color: #fff;
}

.footer_links {
	margin:30px;
}
.footer_links a {
	color: #fff;
	display: block;
	font-size: 24px;
	margin-bottom: 5px;
	text-decoration: none;
}
.footer_links a.active {
	font-weight: 900;
	font-family: 'AvenirNextLTProBold', sans-serif;
}
.copyright_text {
	font-size: 10px;
	margin: 30px;
	line-height: 20px;
	color: rgba(255,255,255,.8);
}

.social_links {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.social_links a {
	width: 30px;
	margin-left: 10px;
}
.social_links a svg {
	fill:#fff;
	width: 24px;
	height:24px;
}

.footer_logo {}
.footer_logo img {
	width: 30px;
}






section#interactive_background {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 300px;
}
section#interactive_background .layer_1 {
	width: 300px;
	height: 300px;
	/*background-image: url("https://picsum.photos/1000/600");*/
	background-image: url(assets/regner_hero.jpg);
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0px;
	right: 0px;
	mask-image:url("assets/regner_white_single_logo.svg"), linear-gradient(-45deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 50%);
  mask-repeat: space;
}
section#interactive_background .layer_2 {
	width: 300px;
	height: 300px;
	position: absolute;
	top: 0px;
	right:0px;
}
section#interactive_background .layer_2 svg {}