:root {
  --primary: #0B5740;
  --menu_button_size : 30px;
}

* { box-sizing: border-box; }
body {
	padding:0px;
	margin:0px;
	background-image: url(https://picsum.photos/300/300);
	background-position: top right;
	background-repeat: no-repeat;
}


section#welcome {
	height: 100vh;
}
section#welcome .row {
	display: flex;
}

section#welcome .row:nth-of-type(1) {
	padding-top: 50px;
	padding-bottom: 250px;
}

section#welcome .row:nth-of-type(1) .col {
	display: flex;
	align-items: center;
}
section#welcome .row .col {
	width: 50%;
}
section#welcome .row .col:nth-of-type(1) {
	padding-left: 50px;
}
section#welcome .row .col:nth-of-type(2) {
	padding-right: 50px;
	justify-content: flex-end;
}

section#welcome .menu_button {
	background:var(--primary);
	width: var(--menu_button_size);
	height: var(--menu_button_size);
	display: flex;
	justify-content: center;
	align-items: center;
}

section#welcome .menu_button svg {
	fill: #fff;
	width: 15px;
	height: 15px;
}

.logo {
	width: var(--menu_button_size);
	height: var(--menu_button_size);
	display: flex;
	flex-wrap: wrap;
	margin-top: -15px;
}
.logo .tr {
	border: 10px solid var(--primary);
	width: 10px;
	height: 10px;
	border-top:10px solid transparent;
	border-right:10px solid transparent;
	border-bottom:10px solid transparent;
	transform:rotate(315deg);
	margin-right: -7px;
}

section#welcome .row:nth-of-type(2) .col {
	display: block;
	width: 100%;
}

section#welcome .row:nth-of-type(2) .col {
	color: var(--primary);
}
section#welcome .row:nth-of-type(2) .col h1 {
	font-weight: 100;
}
section#welcome .row:nth-of-type(2) .col h1 strong {
	font-weight: 600;
}
section#welcome .row:nth-of-type(2) .col p {
	font-size: 10px;
	padding-right: 50px;
}

section#welcome .row:nth-of-type(3) .col {
	width: 100%;
	justify-content: center;
	display: flex;
	padding:0px;
	height: calc( 100vh - ( 350px + 200px ) );
	align-items: flex-end;
}

.scroll_arrow {
	background:linear-gradient(to bottom, #E3C566, #87622A);
	border-radius: 100%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding:2px;
}
.scroll_arrow .inner {
	background:white;
	border-radius: 100%;
	height: 36px;
	width: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.scroll_arrow .inner svg {
	fill: var(--primary)
}